# 단축키

- shift + enter : 실행
- alt + enter : 실행 후 셀 추가
- a : 위로 셀 추가
- b : 아래로 셀 추가
- m : 마트다운 모드로 변경
- y : 코드 모드로 변경
- x : 셀 삭제 (=dd)
- ctrl + shift + '-' : 커서가 위치한 곳에서 셀이 나뉜다.
- shift + m : 선택된 셀들이 병합
- esc : 에디터모드 & 셀포커스모드 변환

In [1]:
Python Code 실행하기

SyntaxError: invalid syntax (1273137196.py, line 1)

# Python Code 실행하기
## 1
### 1.1
#### 1.1.1
**programming**

In [4]:
print("Hellow World!")
while(True):
    a = 0
    a = a + 1

Hellow World!

KeyboardInterrupt:

**프로그램 실행 방법 option 2**

In [8]:
%run hello.py # run이란 매직 명령어로 외부 파일 실행

Hello World

**프로그램 실행 방법 option 3**

In [9]:
# cmd 창 (or annaconda prompt)
# python hello.py

In [10]:
%pwd

'C:\\Users\\jwnam\\Documents\\인공지능 25기\\Python Programming'

# MarkDown Language


[MarkDown Cheetsheet](https://www.markdownguide.org/cheat-sheet/)

In [150]:
from IPython.display import Image
Image("Python-logo-notext.svg.png", width=100)

FileNotFoundError: No such file or directory: 'Python-logo-notext.svg.png'

FileNotFoundError: No such file or directory: 'Python-logo-notext.svg.png'

In [21]:
an_apple = "apple"

In [26]:
an_apple. type(an_apple)

AttributeError: 'str' object has no attribute 'type'

In [16]:
an_example = 40

In [17]:
print(an_example)

40

In [27]:
score = [1, 2, 3]

In [28]:
score

[1, 2, 3]

In [29]:
sroce.push(9)

NameError: name 'sroce' is not defined

In [30]:
score,push(9)

NameError: name 'push' is not defined

In [31]:
score.insert(9)

TypeError: insert expected 2 arguments, got 1

In [32]:
score.append(9)

In [33]:
score

[1, 2, 3, 9]

In [34]:
score.sort()

In [35]:
score

[1, 2, 3, 9]

In [36]:
score.reverse()

In [37]:
score

[9, 3, 2, 1]

In [41]:
# 내가만든함수

def add_func(a, b):
    """
    add two numbers together
    return a+b
    """
    c = a + b
    return c

In [42]:
add_func(3,6)

9

In [43]:
add_func?

In [50]:
run hello.py

Hello World

In [ ]:
# %load hello.py
print("Hello World")

In [53]:
%time

CPU times: total: 0 ns
Wall time: 0 ns

In [54]:
%time hello.py

NameError: name 'hello' is not defined

In [55]:
a = 2
b = 4

%time c = a + b

CPU times: total: 0 ns
Wall time: 0 ns

In [56]:
5!

SyntaxError: invalid syntax (992583946.py, line 1)

In [57]:
!5

'5'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [58]:
import math
math.pactorial(20)

AttributeError: module 'math' has no attribute 'pactorial'

In [59]:
import math

In [60]:
math.factorial(5)

120

In [61]:
%time math.factorial(20)

CPU times: total: 0 ns
Wall time: 0 ns

2432902008176640000

In [62]:
%time math.factorial(50)

CPU times: total: 0 ns
Wall time: 0 ns

30414093201713378043612608166064768844377641568960512000000000000

In [63]:
%timeit c = a + b # 여러번 수행해서 평균 수행시간 출력

39.5 ns ± 4.82 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [65]:
a = 2
b = 5
%time c = a + b

CPU times: total: 0 ns
Wall time: 0 ns

In [66]:
%timeit c = a + b

39 ns ± 3.56 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [67]:
%timeit math.factorial(20)

156 ns ± 0.665 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [68]:
type(a)

int

# 기본문법

In [69]:
# 들여쓰기
# 나누기
# 5//2 = 몫, 5%2 = 나머지
5//2

2

In [70]:
5%2

1

In [71]:
2^10

8

In [72]:
2**10

1024

In [73]:
#자료형 변환
String(a)

NameError: name 'String' is not defined

In [74]:
toString(a)

NameError: name 'toString' is not defined

In [75]:
a.toString()

AttributeError: 'int' object has no attribute 'toString'

In [76]:
z = "2"

In [77]:
type(z)

str

In [79]:
x = parseInt(z)

NameError: name 'parseInt' is not defined

In [80]:
x = int(z)

In [81]:
x

2

In [82]:
type(x)

int

In [83]:
a == 3

False

In [84]:
a

2

In [85]:
floor = 0.2476 * 12 + 4.159

In [86]:
print(floor)

7.130199999999999

In [87]:
int(floor)

7

In [88]:
x**2 + x -2 = 0

SyntaxError: cannot assign to operator (52180327.py, line 1)

In [89]:
r1= (-b + (b**2-4*a*c)**0.5)/(2*a)

In [90]:
x = 2 + r1**2

In [91]:
x

(1.6250000000000002-3.4798527267687636j)

In [92]:
x = 2 - x**2

In [93]:
x

(11.468749999999996+11.309521361998483j)

In [94]:
a=1: b=1: c=-2

SyntaxError: invalid syntax (3689615041.py, line 1)

In [95]:
a=1: b=1: c=-2
        
x1 = (-b + (b**2-4a*c)**0.5)/2*a
x2 = (-b - (b**2-4a*c)**0.5)/2*a
x1, x2

SyntaxError: invalid syntax (4228880942.py, line 1)

In [97]:
a=1
b=1
c=-2
        
x1 = (-b + (b**2-4*a*c)**0.5)/2*a
x2 = (-b - (b**2-4*a*c)**0.5)/2*a
x1, x2

(1.0, -2.0)

In [98]:
input()

2,3

'2,3'

In [99]:
a = input()

35

In [100]:
a

'35'

In [101]:
a = input('숫자를 입력하세요')

숫자를 입력하세요333

In [102]:
a

'333'

In [103]:
int(a)

333

In [104]:
a = input('숫자를 입력하세요: ')

숫자를 입력하세요: 4455

In [105]:
a

'4455'

In [106]:
a = input()
b = input()

22
33

In [107]:
a+b

'2233'

In [108]:
int(a) + int(b)

55

In [109]:
# map() 함수 : 리스트 안에 있는 원소 모두를 일괄 적용할 때 사용
a, b = map(int, [10, 20])
a, b

(10, 20)

In [110]:
'abc.def'.split('.')

['abc', 'def']

# 평균 점수 구하기

In [115]:
a = input()
b = input()
c = input()
result = (int(a) + int(b) + int(c))/3
int(result)

55
65
85

68

In [122]:
tmp = input()
arr = tmp.split(' ')
arr

55 65 85

['55', '65', '85']

In [133]:
a, b, c = (map(int, tmp.split(' ')))
result = (a + b + c) / 3
int(result)

68

# 국어 영어 수학 점수를 입력받아서 평균점수를 출력하라(정수형)

In [134]:
tmp = input()
a, b, c = map(int, tmp.split(' '))
result = (a + b + c) / 3
int(result)

55 65 85

68

 - print 옵션 sep

In [138]:
print(a, b, c, sep='')
print(a, b, c, sep='/')
print(a, b, c, sep='-')

556585
55/65/85
55-65-85

 - print 옵션 end

In [143]:
print(a, b, c, end=' ')
print(11, 22, 33)

55 65 85 11 22 33

In [145]:
print(1)
print(2)
print(3)

print(1, 2, 3, end=' ')
print(5, 6, 7)

1
2
3
1 2 3 5 6 7

# example

**날짜와 시간 출력하기**
2022/10/17 16:26:06

In [149]:
year = '2022'
month = '10'
day = '17'
hour = '16'
min = '26'
sec = '06'

print(year, month, day, sep='/', end=' ')
print(hour, min, sec, sep=':')

2022/10/17 16:26:06

In [ ]:
# 불린타입 (true/false)
# 비교연산자
# 논리연산자

In [151]:
10 == 10 && 10 !=5

SyntaxError: invalid syntax (144583616.py, line 1)

In [152]:
10 == 10 and 10 != 5

True

#자료형 변환

In [153]:
int(1.5)

1

In [154]:
float(1)

1.0

In [155]:
str(2)

'2'

# WorkShop

합격 여부 출력하기
 - 국어 영어 수학 과학 점수가 있을 때 한 과목이라도 50점 미만이면 불합격
    다음 코드를 완성하여 합격이면 True, 불합격이면 False 가 출력되게 하시오

In [161]:
korean = 92
english = 47
mathmatics = 86
science = 81

if korean or english or mathmatics or science < 50:
    print('False')
else:
    print('True')

False

92

In [162]:
is_pass = [korean >= 50, english >= 50, mathmatics >= 50, science >= 50]

In [163]:
all(is_pass)

False

In [164]:
any(is_pass)

True

In [165]:
is_pass

[True, False, True, True]

# WorkShop

"Python is a programming language"
that lets you work quicky
and
intergrate systems more effectively

In [169]:
s = """'Python' is a programming language"""
print(s)

'Python' is a programming language

# List and Tuple

In [179]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a = list(range(5, -10, -2))
a

In [173]:
a = (a)

In [197]:
a = int(input())
b = list(range(-10, 10, a))
c = tuple(b)
c

2

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [198]:
range(5)

range(0, 5)

# WorkShop

**최근 3년간 연구 출력하기**
 - 리스트 year에 연도, population에 서울시 인구수가 저장되어 있습니다.
 - 아래 소스 코드를 완성하여 최근 3년간 연도와 인구수를 리스트로 출력되게 만드세요

In [226]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]
print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [231]:
list(zip(year[-3:], population[-3:]))

[(2016, 9930616), (2017, 9857426), (2018, 9838892)]

**인덱스가 홀수인 요소 출력하기**
- 다음 소스 코드를 완성하여 튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.

In [216]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

In [217]:
result = n[1::2]
print(result)

(75, -10, 32, -15, 76, 2)

**리스트의 마지막 요소 5개 삭제하기**
- 표준 입력으로 숫자 또는 문자열 여러개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음).
- 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

In [224]:
x = input().split(' ')
for i in range(len(x)-1, len(x)-6, -1):
    del x[i]
    
tuple_x = tuple(x)
x

2 3 4 5 6 7 8 9

['2', '3', '4']

In [228]:
x = input().split(' ')
del x[-5:]
x

1 2 3 4 5 6 7 8

['1', '2', '3']

**주민번호로 성별 구분하기**
- 아래와 같은 홍길동씨의 주민번호를 대쉬(-) 기호 전후로 쪼개보자. 성별이 남자면 'male', 여자면 'female'을 출력하세요.

In [251]:
pin = '881204-1068234'
pin = pin.split('-')

first = pin[0]
second = pin[1]
if second[0] == '1':
    print('male')
else:
    print('female')

male

**핸드폰 번호 가리기**
- 전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 출력하세요.
- 제한 조건
- s는 길이 4 이상, 20이하인 문자열입니다.
- 입출력 예
```
phone_number 출력문자열
"01033334444" "*******4444"
"027778888" "*****8888"
```

In [249]:
num = input()
left = num[0:len(num)-4]
right = num[-4:]
print(left)
print(right)

01044457841
0104445
7841

In [242]:
right = '****'
left+right

'0104568****'

In [250]:
num = input()
left = num[0:len(num)-4]
right = num[-4:]
result = num.replace(left, '*'*len(left))
result

01045674568

'*******4568'

In [254]:
tmp_dict = {1: 222, 2: 555}
type(tmp_dict)

dict

**빈 딕셔너리 만들기**
 - 딕셔너리 = {}
 - 딕셔너리 = dict()

In [256]:
x = dict()
type(x)

dict

In [260]:
dict(zip(['health', 'melee', 'armor'], [490, 34, 22]))

{'health': 490, 'melee': 34, 'armor': 22}

# WorkShop

**교통 카드 시스템 만들기**
표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.
- 어린이(초등학생, 만 7세 이상 12세 이하): 650원
- 청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
- 어른(일반, 만 19세 이상): 1,250원
```
age = int(input())
balance = 9000 # 교통카드 잔액
________________
________________
________________
print(balance)
```

In [279]:
balance = 9000
kid = 650
mid = 1050
adult = 1250

age = int(input())

if 7 <= age <= 12:
    balance -= kid
elif 12 < age < 19:
    balance -= mid
elif age >= 19:
    balance -= adult
else:
    balance

print(balance)

22
7750

**게임 캐릭터 능력 저장**
- 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한개에 저장하면 리스트로 저장됩니다.
```
(입력예)
health health_regen mana mana_regen
575.6 1.7 338.8 1.63
(결과)
{'health':575.6, 'health_regen':1.7, 'mana':338.8, 'mana_regen':1.63}
```

In [277]:
tmp_key = input().split()
tmp_val = input().split()

result = dict(zip(tmp_key, tmp_val))
print(tmp_key)
print(tmp_val)
print(result)

aaa bbb ccc ddd
123 333 2.1 559
['aaa', 'bbb', 'ccc', 'ddd']
['123', '333', '2.1', '559']
{'aaa': '123', 'bbb': '333', 'ccc': '2.1', 'ddd': '559'}

# for 반복문

In [3]:
for i in range(0,10,1):
    print('Hello World!')

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

 - 참고
 - enumerate 의 경우 i 만 가져오는게 아니라
 - var1에 인덱스, var2에 i값 반환

In [5]:
for var1, var2 in enumerate(range(0, 10, 2)):
    print('Hello Wordl!', var1, var2)

Hello Wordl! 0 0
Hello Wordl! 1 2
Hello Wordl! 2 4
Hello Wordl! 3 6
Hello Wordl! 4 8

 - for 변수 in 시퀀스객체(문자열, 리스트, 튜플) 형태로도 사용 가능하다

In [6]:
for i in "Hello":
    print(i)

H
e
l
l
o

In [8]:
for i in [1,2,3]:
    print(i)

1
2
3

In [9]:
for i, v in enumerate("Hello"):
    print(i, v)

0 H
1 e
2 l
3 l
4 o

 - 표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요.
    출력 형식은 숫자 * 숫자 = 숫자

In [18]:
num = int(input())
for i in range(1,10):
    print(num,"*", i, "=", num * i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

 - Option2 format 서식지정자

In [20]:
x = int(input())

for y in range(1,10):
    print("%d * %d = %d" % (x, y, x*y))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

 - Option3

In [22]:
x = int(input())

for y in range(1,10):
    print(f"{x} * {y} = {x*y}")

1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

# while 반복문

In [24]:
i = 0
while(i < 10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

# WorkShop

 - 주사위 던지고 눈을 출력하는 동작을 계속 반복하다가
 - 3이 나왔을 때 멈추기

In [60]:
import random
x = 0
while(x != 3):
    x = random.randint(1,6)
    print(x)

2
4
4
1
2
5
5
1
6
2
3

### 교통카드 잔액 출력하기
 - 표준입력으로 금액이 입력됩니다. 1회당 요금은 1,350이고 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요
 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력종료

In [65]:
balance = int(input())
fee = 1350

while(balance >= fee):
    balance -= fee
    print(balance)

26000
24650
23300
21950
20600
19250
17900
16550
15200
13850
12500
11150
9800
8450
7100
5750
4400
3050
1700
350

### 3으로 끝나는 숫자만 출력하기
 - 0과 73사이의 숫자 중 3으로 끝나는 숫자만 출력하세요

In [68]:
start = 0
end = 73
i = 0
while(i <= end):
    if (i % 10 == 3):
        print(i)
    i += 1

3
13
23
33
43
53
63
73

**알파벳별 빈도 사전 등록**
- 다음의 주어진 문자열 s에서 알파벳 별 빈도를 사전형인 d에 등록하는 파이썬 코드블럭을 작성하시오. 

```
s = ‘life is short, so python is easy.’ 
punct = ‘,. ’ 
d = {} 

결과 print(d) (순서는 상관 없음)
{'a': 1, 'e': 2, 'f': 1, 'i': 3, 'h': 2, 'l': 1, 'o': 3, 'n': 1, 'p': 1, 's': 5, 'r': 1, 't': 2, 'y': 2}

```

In [98]:
s = 'life is short, so python is easy.'
# s = s.replace(' ', '').replace(',', '').replace('.', '')
punct = ',. '
# print(s)
d = {}
for c in s:
    if c in punct:
        continue
    if c not in d:
        d[c] = 1
    else:
        d[c] += 1

print(d)

life is short, so python is easy.
{'l': 1, 'i': 3, 'f': 1, 'e': 2, 's': 5, 'h': 2, 'o': 3, 'r': 1, 't': 2, 'p': 1, 'y': 2, 'n': 1, 'a': 1}

### 계단식 별 출력(1)

In [113]:
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

### 계단식 별 출력(2)

In [112]:
for i in range(5, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [133]:
for i in range(5):
    for j in range(i):
        print('o', end = '')
    
    for k in range(5-i):
        print('*', end = '')
    print()

*****
o****
oo***
ooo**
oooo*

### 계단식 별 출력(3)

In [115]:
for i in range(5):
    print(' ' * i, '*' * (5 - i))

 *****
  ****
   ***
    **
     *

In [136]:
for i in range(5):
    for j in range(i):
        print(' ', end = '')
    
    for k in range(5-i):
        print('*', end = '')
    print()

*****
 ****
  ***
   **
    *

### 별 출력하기(4)

In [117]:
for i in range(1,6):
    print(' ' * (5 - i), '*' * (2 * i - 1))

     *
    ***
   *****
  *******
 *********

In [139]:
for i in range(5):
    for j in range(5-i):
        print(' ', end = '')
    for k in range(2 * i + 1):
        print('*', end = '')
    print()

     *
    ***
   *****
  *******
 *********

### FizzBuzz 문제
 - 1에서 100까지 출력
 - 3의 배수는 Fizz 출력
 - 5의 배수는 Buzz 출력
 - 3과 5의 공배수는 FizzBuzz 출력

In [143]:
for i in range(1, 101):
    if (i % 15 == 0):
        print('FizzBuzz')
    elif (i % 3 == 0):
        print('Fizz')
    elif (i % 5 == 0):
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# List 다루기
 - append, extend, insert

 - a list + b list = 는 a,b 원본을 유지한채 새로운 배열 생성
 - a.extend(b)는 a를 확장

In [145]:
a = [1,2,3]
a.insert(1,11)
a

[1, 11, 2, 3]

 - insert(0, 요소) 리스트의 처음에 요소 추가
 - inser(len(list), 요소) 리스트의 마지막에 요소 추가

 - pop : 마지막 요소 또는 특정 인덱스의 요소 삭제
 - remove : 인덱스가 아니라 값을 입력 후 해당 값을 삭제

In [147]:
print(a)
a.pop()
print(a)

[1, 11, 2]
[1, 11]

In [155]:
a.insert(len(a), 1234)

In [156]:
print(a)

[1, 11, 2, 2, 2, 1234]

In [157]:
a.remove(11)
print(a)

[1, 2, 2, 2, 1234]

 - index(val) : 리스트에서 특정 val의 index를 구함
 - count(val) : 리스트에서 특정 val의 개수를 구함

In [158]:
a.index(2)

1

In [159]:
a,index(1234)

NameError: name 'index' is not defined

In [160]:
a.index(1234)

4

In [163]:
a.count(2)

3

 - reverse() : 리스트에서 여소의 순서를 반대로 뒤집음
 - sort() : 리스트의 요소를 정렬(오름차순 기본값)
 - clear() : 리스트의 모든 요소를 삭제

In [164]:
a.reverse()

In [165]:
a

[1234, 2, 2, 2, 1]

In [166]:
a.sort()

In [167]:
a

[1, 2, 2, 2, 1234]

 - =
 - copy()

In [170]:
a

[1, 2, 2, 2, 1234]

In [172]:
b = a
b
# =을 쓰는 경우 b는 새로운 리스트가 아니라 a값을 단순 참조

b = a.copy()
b
# copy()를 쓰는 경우 b는 새로운 a와 같은 리스트를 생성해서 메모리에 할당
# a의 값이 변해도 b는 변하지 않는다

# WorkShop

#### 리스트에서 특정 요소만 뽑아내기
 - 리스트 a에 들어있는 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력되게 만드세요

In [180]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
result = []
for i in range(0, len(a)):
    if len(a[i]) == 5:
        result.append(a[i])
print(result)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [186]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
result2 = []
for i in a:
    if len(i) == 5:
        result2.append(i)
print(result2)

['alpha', 'bravo', 'delta', 'hotel', 'india']

**리스트 에서 map 사용하기**

In [188]:
a = [1.1, 2.6, 3.3, 4.1, 5.9]
result = []
for i in a:
    result.append(int(i))
print(result)

[1, 2, 3, 4, 5]

In [191]:
a = [1.1, 2.6, 3.3, 4.1, 5.9]
result = list(map(int, a))
print(result)

[1, 2, 3, 4, 5]

# WorkShop

**자동 로또 번호 생성기**
- 1~45 숫자 중에서 6개를 고르는 로또 번호를 자동으로 만들어 주는 프로그램 작성하기
- 사용자가 입력한 개수만큼 번호 쌍을 생성하기(예: 5를 입력하면 5 세트의 번호가 생성되도록 하기)
- 한번 뽑히것은 뽑히지 않도록 하고, 최종 출력은 오름차순 정렬해서 보여주기

In [210]:
import random
n = int(input("how many? "))

for i in range(n):
    result = []
    while(len(result) != 6):
        val = random.randint(1,45)
        if val not in result:
            result.append(val)
    result.sort()
    print(result)

how many? 10
[2, 3, 6, 9, 13, 44]
[7, 17, 24, 32, 33, 38]
[9, 12, 28, 35, 44, 45]
[7, 11, 15, 30, 31, 37]
[21, 25, 26, 28, 33, 38]
[2, 5, 17, 30, 39, 45]
[8, 10, 15, 21, 32, 41]
[1, 4, 8, 9, 14, 21]
[3, 5, 19, 22, 28, 38]
[4, 13, 29, 36, 44, 45]

In [220]:
import random
n = int(input())

for i in range(n):
    result = []
    while True:
        val = random.randint(1,45)
        if val not in result:
            result.append(val)
        if len(result) >= 6:
            break
    result.sort()
    print(result)

5
[7, 8, 12, 15, 27, 31]
[10, 23, 28, 35, 39, 45]
[1, 13, 14, 16, 25, 34]
[1, 11, 25, 28, 31, 40]
[8, 22, 29, 36, 39, 43]

**서식 지정자**

In [221]:
name = 'andrew'
"나는 %s 입니다." % name

'나는 andrew 입니다.'

In [223]:
score = 4.21
"내 학점은 %.2f 입니다." % score

'내 학점은 4.21 입니다.'

**format 함수**

In [224]:
name = 'hihi'
"나는 {} 입니다.".format(name)

'나는 hihi 입니다.'

In [225]:
name = 'hihi'
age = '30'
score = '4.11'
"나는 {}입니다. 내 학점은 {}이고 나이는 {}입니다.".format(name, score, age)

'나는 hihi입니다. 내 학점은 4.11이고 나이는 30입니다.'

# 위치 인수와 키워드 인수

In [ ]:
#가변인수를 받는 함수
def print_numbers(*args): #args 는 집합체로 구성되는 원소가 가변적이며 추상적인 명칭
    for arg in args:
        print(arg)